<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <app-sidebar></app-sidebar>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>Kursanci</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Strona główna</a></li>
                                <li class="breadcrumb-item active">Lista kurstantów</li>
                            </ol>
                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>

            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">

                            <!-- /.card -->

                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">Lista kurstanów </h3>
                                </div>
                                <!-- /.card-header -->


                                <div class="card-body">
                                    <div class="row">
                                        <div class=" mb-2 col-sm-2 col-md-2">
                                            <a class="btn btn-success" href="students/form">+ Dodaj kursanta</a>

                                        </div>
                                    </div>
                                    <div class="mat-elevation-z8">
                                    <table style="width: 100%;" mat-table [dataSource]="dataSource">
                                        <!-- Position Column -->
                                        <ng-container matColumnDef="position">
                                            <th mat-header-cell *matHeaderCellDef>No.</th>
                                            <td mat-cell *matCellDef="let element">{{ 1}}
                                            </td>
                                        </ng-container>

                                        <!-- Name Column -->
                                        <ng-container matColumnDef="firstName">
                                            <th mat-header-cell *matHeaderCellDef>Name</th>
                                            <td mat-cell *matCellDef="let element">{{element.firstName}}</td>
                                        </ng-container>

                                        <!-- Weight Column -->
                                        <ng-container matColumnDef="lastName">
                                            <th mat-header-cell *matHeaderCellDef>Weight</th>
                                            <td mat-cell *matCellDef="let element">{{element.lastName}}</td>
                                        </ng-container>

                                        <!-- Symbol Column -->
                                        <ng-container matColumnDef="birthDate">
                                            <th mat-header-cell *matHeaderCellDef>Symbol</th>
                                            <td mat-cell *matCellDef="let element">{{element.birthDate}}</td>
                                        </ng-container>

                                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                                            (click)="selection.toggle(row)"
                                            [ngClass]="{hovered: row.hovered, highlighted: selection.isSelected(row)}"
                                            (mouseover)="row.hovered = true" (mouseout)="row.hovered = false"></tr>


                                    </table>
                                    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
                                        aria-label="Select page of periodic elements">
                                    </mat-paginator>
                                </div>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <app-footer></app-footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->

        </aside>
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->



    <!-- Page specific script -->
    <script>
        $(function () {
            $("#example1").DataTable({
                "responsive": true, "lengthChange": false, "autoWidth": false,
                "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
            }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });
    </script>
</body>